In [24]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = 'School_District_Resources/schools_complete.csv'
student_data_to_load = 'School_District_Resources/students_complete.csv'

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [25]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [26]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df['grade'] =="9th") & (student_data_df['school_name'] =="Thomas High School") & (student_data_df['reading_score'] >0 ), ['reading_score']]= np.nan
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66.0,79
1,1,Victor Smith,M,12th,Huang High School,94.0,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60
3,3,Richard Scott,M,12th,Huang High School,67.0,58
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75

In [27]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df['grade'] =="9th") & (student_data_df['school_name'] =="Thomas High School") & (student_data_df['math_score'] >0 ), ['math_score']]= np.nan

In [28]:
#  Step 4. Check the student data for NaN's.
student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

In [ ]:
#Files to load
school_data_to_load = 'School_District_Resources/schools_complete.csv'
student_data_to_load = 'School_District_Resources/students_complete.csv'

In [ ]:
#Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

In [ ]:
#Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

In [ ]:
#Determine if there are any missing values in the school data.
school_data_df.count()

In [ ]:
#Determine if there are any missing values in the student data.
student_data_df.count()

In [ ]:
#determine if there are any missing values in the school data
school_data_df.isnull()

In [ ]:
#determine if there are any missing values in the student data
student_data_df.isnull()

In [ ]:
#determine if there are any missing values in the school data
student_data_df.isnull().sum()

In [ ]:
#determine if there are NOT any missing values in the school data
school_data_df.notnull()

In [ ]:
#determine if there are NOT any missing values in the student data
student_data_df.notnull().sum()

In [ ]:
#determine data types for the school DataFrame
school_data_df.dtypes

In [ ]:
#determine data types for the student DataFrame
student_data_df.dtypes

In [ ]:
#Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ", "Mrs. ", "Ms. ", "Miss ", " MD", " DDS"," DVM", " PhD"]

In [ ]:
#iterate through the words in prefixes_suffixes list and replace them with empty strings
for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(word, "")

In [ ]:
student_data_df.head(10)

In [ ]:
#combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=['school_name', 'school_name'])
school_data_complete_df.head()

In [ ]:
#get the total number of students
student_count = school_data_complete_df['Student ID'].count()
student_count

In [ ]:
#calculate total number of schools by getting unique values
school_count_2 = school_data_complete_df['school_name'].unique()
school_count_2

In [ ]:
len(school_count_2)

In [ ]:
school_count = school_data_df['school_name'].count()
school_count

In [ ]:
#calculate total budget using data from school_data_df
total_budget = school_data_df['budget'].sum()
total_budget

In [ ]:
#calculate average reading score
average_reading_score = school_data_complete_df['reading_score'].mean()
average_reading_score

In [ ]:
#calculate average math score
average_math_score = school_data_complete_df['math_score'].mean()
average_math_score

In [ ]:
#get all the math and reading scores that are >70
#create variable for passing math score and passing reading score
passing_math = school_data_complete_df['math_score'] >=70
passing_reading = school_data_complete_df['reading_score'] >=70

In [ ]:
passing_math

In [ ]:
passing_reading

In [ ]:
#create new data frames for "true" passing_math 
passing_math = school_data_complete_df[school_data_complete_df['math_score'] >=70]
passing_math.head()

In [ ]:
#create new data frames for "true" passing_reading
passing_reading = school_data_complete_df[school_data_complete_df['reading_score'] >=70]
passing_reading.head()

In [ ]:
#calculate number of students passing math
passing_math_count = passing_math['student_name'].count()

#calculate number of students passing reading
passing_reading_count = passing_reading['student_name'].count()

In [ ]:
print(passing_math_count)
print(passing_reading_count)

In [ ]:
#calculate percentage of students passing math 
passing_math_percentage = passing_math_count/float(student_count) *100
passing_math_percentage

In [ ]:
#calculate percentage of students passing reading
passing_reading_percentage = passing_reading_count/float(student_count) *100
passing_reading_percentage

In [ ]:
#calculate number of students who passed BOTH math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df['math_score'] >=70) & (school_data_complete_df['reading_score'] >=70)]
passing_math_reading

In [ ]:
#create varaiable for number of students passing BOTH
passing_math_reading_count = passing_math_reading['student_name'].count()
passing_math_reading_count

In [ ]:
#calculate overall passing percentage
overall_passing_percentage = passing_math_reading_count/float(student_count)*100
overall_passing_percentage

In [ ]:
#adding a list of values and keys to create a new DataFrame
district_summary_df = pd.DataFrame(
    [{"Total Schools": school_count,
    "Total Students": student_count,
    "Total Budget": total_budget,
    "Average Reading Score": average_reading_score,
    "Average Math Score": average_math_score,
    "%Passing Reading": passing_reading_percentage,
    "%Passing Math": passing_math_percentage,
    "%Overall Passing": overall_passing_percentage}])
district_summary_df

In [ ]:
#format the Total Students column using a thousands separator
district_summary_df['Total Students'] = district_summary_df['Total Students'].map("{:,}".format)

district_summary_df['Total Students']

In [ ]:
#format Total Budget to have the comma separator, a decimal separator, and a US dollar sign
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map("${:,.2f}".format)

district_summary_df['Total Budget']

In [ ]:
#format Avg Reading score and avg Math Score to one decimal place
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map("{:.1f}".format)
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map("{:.1f}".format)

In [ ]:
#format %Passing Reading, %Passing Math, and %Overall Passing to the nearest whole number percent
district_summary_df['%Passing Reading'] = district_summary_df['%Passing Reading'].map("{: .0f}".format)
district_summary_df['%Passing Math'] = district_summary_df['%Passing Math'].map("{: .0f}".format)
district_summary_df['%Overall Passing'] = district_summary_df['%Overall Passing'].map("{: .0f}".format)

In [ ]:
district_summary_df

In [ ]:
#reorder columns 
new_column_order = ['Total Schools', 'Total Students', 'Total Budget', 'Average Math Score', 'Average Reading Score', '%Passing Math', '%Passing Reading', '%Overall Passing']

#assign district_summary_df the new column order
district_summary_df = district_summary_df[new_column_order]
district_summary_df

In [ ]:
#Determine the school type
per_school_types = school_data_df.set_index(['school_name'])['type']
per_school_types

In [ ]:
#create new dataframe by converting Series
#add per_school_types into a DataFrame for testing.
df = pd.DataFrame(per_school_types)
df

In [ ]:
#calculate the total student count. (per_school_counts is variable to hold the total number of students in each school)
per_school_counts = school_data_df['size']
per_school_counts

In [ ]:
#calculate the total student count by using school_name as the index
per_school_counts = school_data_df.set_index(['school_name'])['size']
per_school_counts

In [ ]:
#calculate student count by using value.counts()
per_school_counts = school_data_complete_df['school_name'].value_counts()
per_school_counts

In [ ]:
#calculate the total school budget.
per_school_budget = school_data_df.set_index(['school_name'])['budget']
per_school_budget

In [ ]:
#calculate per student budget
per_school_capita = per_school_budget/per_school_counts
per_school_capita

In [ ]:
#calcutlate the  Math score per school
student_school_math = student_data_df.set_index(['school_name'])['math_score']
student_school_math

In [ ]:
#calculate average math scores per school
per_school_math = school_data_complete_df.groupby(['school_name']).mean()["math_score"]
per_school_math

In [ ]:
#get reading scores per school
student_school_reading = student_data_df.set_index(['school_name'])['reading_score']
student_school_reading

In [ ]:
#calculate average reading scores per school
per_school_reading = school_data_complete_df.groupby(['school_name']).mean()['reading_score']
per_school_reading

In [ ]:
#calculate the passing scores by creating a filtered DataFrame
per_school_passing_math = school_data_complete_df[(school_data_complete_df['math_score'] >=70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df['reading_score'] >=70)]

In [ ]:
#calculate the number of students passing math and reading by school
per_school_passing_math = per_school_passing_math.groupby(['school_name']).count()['student_name']
per_school_passing_reading = per_school_passing_reading.groupby(['school_name']).count()['student_name']

In [ ]:
per_school_passing_math

In [ ]:
per_school_passing_reading

In [ ]:
#calculate the percentage of students passing reading and percentage passing math
per_school_percent_passing_math = per_school_passing_math / per_school_counts * 100
per_school_percent_passing_reading = per_school_passing_reading / per_school_counts * 100

In [ ]:
per_school_percent_passing_math

In [ ]:
per_school_percent_passing_reading

In [ ]:
per_passing_math_reading = school_data_complete_df[(school_data_complete_df['math_score']>=70) &(school_data_complete_df['reading_score']>=70)]

per_passing_math_reading.head()

In [ ]:
#calculate number of students passing BOTH math and reading
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
per_passing_math_reading

In [ ]:
#calculate overall passing percentage per school
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [ ]:
per_overall_passing_percentage

In [ ]:
#creating new DataFrame
per_school_summary_df = pd.DataFrame( {"School Type": per_school_types, 
     "Total Students": per_school_counts, 
     "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_percent_passing_math,
    "% Passing Reading": per_school_percent_passing_reading,
    "% Overall Passing" : per_overall_passing_percentage})

In [ ]:
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

In [ ]:
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

In [ ]:
per_school_summary_df

In [ ]:
#create a variable to sort and show top 5 schools based on %Overall Passing
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending = False)
top_schools.head()

In [ ]:
#creat a variable to sort and show bottom 5 schools based on %Overall Passing
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"])
bottom_schools.head()

In [ ]:
#set variable for 9th grade Series
ninth_graders = school_data_complete_df[(school_data_complete_df['grade'] == "9th")]
ninth_graders

In [ ]:
#set variable for 10, 11, 12
tenth_graders = school_data_complete_df[(school_data_complete_df['grade']=="10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df['grade']=="11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df['grade']=="12th")]


twelfth_graders.head()

In [ ]:
eleventh_graders.head()

In [ ]:
tenth_graders.head()

In [ ]:
#Group each grade level Series by the school name and find the average math score.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()['math_score']
ninth_grade_math_scores

In [ ]:
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()['math_score']
eleventh_grade_math_scores = eleventh_graders.groupby(['school_name']).mean()['math_score']
twelfth_grade_math_scores = twelfth_graders.groupby(['school_name']).mean()['math_score']

In [ ]:
tenth_grade_math_scores

In [ ]:
eleventh_grade_math_scores

In [ ]:
twelfth_grade_math_scores

In [ ]:
#Group each grade level series by the school name and find the average reading scores.
ninth_grade_reading_scores = ninth_graders.groupby(['school_name']).mean()['reading_score']
tenth_grade_reading_scores = tenth_graders.groupby(['school_name']).mean()['reading_score']
eleventh_grade_reading_scores = eleventh_graders.groupby(['school_name']).mean()['reading_score']
twelfth_grade_reading_scores = twelfth_graders.groupby(['school_name']).mean()['reading_score']

In [ ]:
ninth_grade_reading_scores

In [ ]:
tenth_grade_reading_scores

In [ ]:
eleventh_grade_reading_scores

In [ ]:
twelfth_grade_reading_scores

In [ ]:
#Combine each Series of average math scores by school into a single DataFrame
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelfth_grade_math_scores})

math_scores_by_grade.head()

In [ ]:
#Combine each Series of average reading scores by school into a single DataFrame
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grade_reading_scores,
    "11th": eleventh_grade_reading_scores,
    "12th": twelfth_grade_reading_scores})

reading_scores_by_grade.head()

In [ ]:
#Format the math_scores_by_grade to one decimal place 
math_scores_by_grade["9th"] = math_scores_by_grade['9th'].map("{:.1f}".format)

In [ ]:
math_scores_by_grade['10th'] = math_scores_by_grade['10th'].map("{:.1f}".format)
math_scores_by_grade['11th'] = math_scores_by_grade['11th'].map("{:.1f}".format)
math_scores_by_grade['12th'] = math_scores_by_grade['12th'].map("{:.1f}".format)

In [ ]:
#make sure grade level columns are in order
math_scores_by_grade = math_scores_by_grade[['9th','10th','11th','12th']]

In [ ]:
#remove index name
math_scores_by_grade.index.name = None

In [ ]:
#Display the DataFrame
math_scores_by_grade.head()

In [ ]:
#Format the reading_scores_by_grade to one decimal
reading_scores_by_grade['9th'] = reading_scores_by_grade['9th'].map('{:.1f}'.format)
reading_scores_by_grade['10th'] = reading_scores_by_grade['10th'].map('{:.1f}'.format)
reading_scores_by_grade['11th'] = reading_scores_by_grade['11th'].map('{:.1f}'.format)
reading_scores_by_grade['12th'] = reading_scores_by_grade['12th'].map('{:.1f}'.format)

In [ ]:
#make sure grade level columns are in order
reading_scores_by_grade = reading_scores_by_grade[['9th', '10th', '11th', '12th']]

In [ ]:
#remove index name
reading_scores_by_grade.index.name = None

In [ ]:
#Display DataFrame
reading_scores_by_grade.head()

In [ ]:
#Get descriptive stats for per_school_capita to determine bins
per_school_capita.describe()

In [ ]:
#create spending bins
spending_bins = [0, 585, 630, 645, 675]

In [ ]:
#cut per_school_capita into spending_bins
pd.cut(per_school_capita, spending_bins)

In [ ]:
#group per_school_capita by spending bins and count
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

In [ ]:
#establish spending bins and group names
spending_bins = [0, 585, 630, 645, 675]
group_names = ['<$584', "$585-629", "$630-644", "$645-675"]

In [ ]:
#categorize spending based on spending_bins
per_school_summary_df['Spending Ranges (Per Student)'] = pd.cut(per_school_capita, spending_bins, labels = group_names)

per_school_summary_df

In [ ]:
#calculate averages for desired columns
spending_math_scores = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()["Average Math Score"]
spending_reading_scores = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['Average Reading Score']
spending_passing_math = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['% Passing Math']
spending_passing_reading = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['% Passing Reading']
overall_passing_spending = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['% Overall Passing']

In [ ]:
overall_passing_spending

In [ ]:
#assemble into a dataframe
spending_summary_df = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    'Average Reading Score': spending_reading_scores,
    '% Passing Math': spending_passing_math,
    '% Passing Reading': spending_passing_reading,
    '% Overall Passing': overall_passing_spending})
spending_summary_df

In [ ]:
#format the dataframe
spending_summary_df['Average Math Score'] = spending_summary_df['Average Math Score'].map("{:.1f}".format)
spending_summary_df['Average Reading Score'] = spending_summary_df['Average Reading Score'].map('{:.1f}'.format)
spending_summary_df['% Passing Math'] = spending_summary_df['% Passing Math'].map('{:.0f}'.format)
spending_summary_df['% Passing Reading'] = spending_summary_df['% Passing Reading'].map('{:.0f}'.format)
spending_summary_df['% Overall Passing'] = spending_summary_df['% Overall Passing'].map('{:.0f}'.format)
spending_summary_df

In [ ]:
#examine per_school_counts to determine limits for small, medium, large bins
per_school_counts

In [ ]:
#create bins for school size
school_size_bins = [0, 999, 1999, 5000]
group_names = ['Small (<1000)', 'Medium (1000-1999)', 'Large (2000-5000)']

In [ ]:
#categorize spending based on bins
per_school_summary_df['School Size'] = pd.cut(per_school_summary_df['Total Students'], school_size_bins, labels = group_names)

In [ ]:
per_school_summary_df

In [ ]:
#create series for size summary dataframe
size_math_scores = per_school_summary_df.groupby(['School Size']).mean()['Average Math Score']
size_reading_scores = per_school_summary_df.groupby(['School Size']).mean()['Average Reading Score']
size_passing_math = per_school_summary_df.groupby(['School Size']).mean()['% Passing Math']
size_passing_reading = per_school_summary_df.groupby(['School Size']).mean()['% Passing Reading']
size_overall_passing = per_school_summary_df.groupby(['School Size']).mean()['% Overall Passing']

In [ ]:
#create size_summary dataframe
size_summary_df = pd.DataFrame({
    'Average Math Score': size_math_scores,
    'Average Reading Score': size_reading_scores,
    '% Passing Math': size_passing_math,
    '% Passing Reading': size_passing_reading,
    '% Overall Passing': size_overall_passing})
size_summary_df

In [ ]:
#format DataFrame
size_summary_df['Average Math Score'] = size_summary_df['Average Math Score'].map('{:.1f}'.format)
size_summary_df['Average Reading Score'] = size_summary_df['Average Reading Score'].map('{:.1f}'.format)
size_summary_df['% Passing Math'] = size_summary_df['% Passing Math'].map('{:.0f}'.format)
size_summary_df['% Passing Reading'] = size_summary_df['% Passing Reading'].map('{:.0f}'.format)
size_summary_df['% Overall Passing'] = size_summary_df['% Overall Passing'].map('{:.0f}'.format)
size_summary_df

In [ ]:
#create series for school type dataframe
type_math_scores = per_school_summary_df.groupby(['School Type']).mean()['Average Math Score']
type_reading_scores = per_school_summary_df.groupby(['School Type']).mean()['Average Reading Score']
type_passing_math = per_school_summary_df.groupby(['School Type']).mean()['% Passing Math']
type_passing_reading = per_school_summary_df.groupby(['School Type']).mean()['% Passing Reading']
type_overall_passing = per_school_summary_df.groupby(['School Type']).mean()['% Overall Passing']

In [ ]:
#create new data frame
type_summary_df = pd.DataFrame({
    'Average Math Score': type_math_scores,
    'Average Reading Score': type_reading_scores,
    '% Passing Math': type_passing_math,
    '% Passing Reading': type_passing_reading,
    '% Overall Passing': type_overall_passing})
type_summary_df

In [ ]:
#format DataFrame
type_summary_df['Average Math Score'] = type_summary_df['Average Math Score'].map('{:.1f}'.format)
type_summary_df['Average Reading Score'] = type_summary_df['Average Reading Score'].map('{:.1f}'.format)
type_summary_df['% Passing Math'] = type_summary_df['% Passing Math'].map('{:.0f}'.format)
type_summary_df['% Passing Reading'] = type_summary_df['% Passing Reading'].map('{:.0f}'.format)
type_summary_df['% Overall Passing'] = type_summary_df['% Overall Passing'].map('{:.0f}'.format)
type_summary_df